:root {
  --branding-color: white;
  --secondary-color: #212121;
  --signature-color: #b36200;
  --heading-font-family: 'Gowun Dodum', sans-serif;
  --default-font-family: 
  --button-text-color: #272142;
}

body {
  background: #1c1c1c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: white;
  font-weight: normal;
}

h1 {
  font-size: 72px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

p {
  font-weight: bold;
  color: white;
  font-size: 16px;
  line-height: 30px;
}



.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
  
}
.hero p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 40px;
  line-height: 2;
}

.about-section{
    padding: 160px 20px;
}
.about-content{
  margin:30px;
}
.content-container{
      padding: 160px 20px;
}
.project-content{
  margin:30px;
  text-align: center;
}


.hover-image {
  position: relative;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color:#b36200;
  font-family: var(--body-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.hover-overlay--solid {
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);}

.hover-overlay:hover {
  opacity: 1;
}

.project-link{
   font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 18px;
  color:black;
}
.project-link:hover{
  color:#b36200;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.fa-react {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin: none;
}
.btn-branding-outline {
  display: block;
}

.btn-branding {
  color: var(--branding-color);
   border: 3px solid var(--signature-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 50px;
  font-weight: bold;
}

.btn-branding:hover{
   border: 3px solid var(--signature-color);
  color: black;
  background-color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
   border: 3px solid var(--signature-color);
     font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 50px;
  font-weight: bold;
}
.btn-branding-outline:hover{
  border: 3px solid var(--signature-color);
  color: white;

}

.icons i:hover{
  background:var(--button-text-color);
color: var(--signature-color);
}
.project-description {
  padding: 0 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .my-introduction {
    padding: 0;
    text-align: center;
  }
  .about-section{
  text-align: center;
    padding:0;
    }
}

footer {
  background: var(--secondary-color);
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 15px 0;
}

.certificates-foot {
  margin-bottom: 10px ;
}
.social-icons a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 5px px;
  font-size: 25px;
  transition: all 100ms ease-in-out;
  
}
.social-icons a:hover{
  color: var(--signature-color)
}
