:root {
  --branding-color: white;
  --secondary-color: #212121;
  --signature-color: #b36200;
  --heading-font-family: "Gowun Dodum", sans-serif;
  --button-text-color: #272142;
}

body {
  background: #1c1c1c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: white;
}

h1 {
  font-size: 72px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

p {
  font-family: var(--heading-font-family);
  color: white;
  font-size: 20px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 35px;
  margin: 0;
  font-family: var(--heading-font-family);
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 40px;
  line-height: 2;
}

.about-section {
  padding: 160px 20px;
}
.about-content {
  margin: 30px;
}
.content-container {
  padding: 60px 20px;
}
.project-content {
  margin: 30px;
}
.my-description {
  font-size: 10px;
}

.contact-link {
  color: white;
      text-decoration: none;
         opacity: 50%;

}
.contact-link:hover {
color:var(--signature-color);
}

h1.highlight {
  color: var(--signature-color);
  font-size: 56px;
}
.typewriter {
  overflow: hidden;
  border-right: 0.15em solid var(--highlight-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
}
.form-label {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 20px;
}
.hover-image {
  position: relative;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #b36200;
  font-family: var(--heading-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.hover-overlay--solid {
  background-color: #f3f4f7;
  background-image: linear-gradient(315deg, #f3f4f7 0%, #caccd1 74%);
}

.hover-overlay:hover {
  opacity: 1;
}

.project-link {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 30px;
  color: black;
}
.project-link:hover {
  color: #b36200;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.fa-react {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin: none;
}
.btn-branding-outline {
  display: block;
}

.btn-branding {
  color: var(--branding-color);
  border: 3px solid var(--signature-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 50px;
  font-weight: bold;
}

.btn-branding:hover {
  border: 3px solid var(--signature-color);
  color: black;
  background-color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 3px solid var(--signature-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 50px;
  font-weight: bold;
}
.btn-branding-outline:hover {
  border: 3px solid var(--signature-color);
  color: white;
}

.icons i:hover {
  background: var(--button-text-color);
  color: var(--signature-color);
}
.project-description {
  padding: 0 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .my-introduction {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .typewriter {
    font-size: 44px;
  }
}

footer {
  background: var(--secondary-color);
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 15px 0;
}

.certificates-foot {
  margin-bottom: 10px;
}
.social-icons a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 5px px;
  font-size: 25px;
  transition: all 100ms ease-in-out;
}
.social-icons a:hover {
  color: var(--signature-color);
}
